ul{ 
    list-style-type: none;
    padding-left: 0;
  }
  
  li{ 
    font-size: 8pt;
  }
  
  .col { 
    padding: 5px;
  }
  
  .card {
    width: 100%;
    background-color: #ececec;
  }
  
  
  .forecast-card {
    background-color: #8FCBFF;
    /* width: 140px; */
    /* padding: 10px; */
  }
  
  .search-section {
    height: 100%;
  }
  
  
  .cityList {
    border: solid;
    border-width: thin;
    margin: 5px;
    padding-left: 2px;
    background-color: lightgrey;
  }
  
  .cityList:hover {
    background-color: blue;
    color: #fff;
  }
  
  .container {
    margin-top: 5px;
  }